{# Enlazar este fichero con la plantilla correspondiente #}
{% extends "layouts/admin.twig" %}

{% block title %}Admin Edit Zone{% endblock %}

{% block content %}	
<br><br>
<div class="container w-50">
  <div class="abs-center border border-dark">
    <form action="{{ URL }}?controller=user&action=create" method="POST" class="border p-3 form">
      <div class="form-group p-3 d-none">
        <label for="id">Id</label>
        <input type="text" name="id" id="id" class="form-control border-dark">
      </div>
      <div class="form-group p-3">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control border-dark">
      </div>
      <div class="form-group p-3">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" class="form-control border-dark">
      </div>
      <div class="form-group p-3">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control border-dark">
      </div>
      <div class="form-group p-3">
        <label for="rol">rol</label>
        <input type="text" name="rol" id="rol" class="form-control border-dark">
      </div>
      <div class="form-group p-3">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control border-dark">
      </div>
      <div class="form-group p-3">
      <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}