{# Enlazar este fichero con la plantilla correspondiente #}
{% extends "layouts/private.twig" %}

{% block title %}User Zone{% endblock %}

{% block content %}
<br><br>
<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table-wrap">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col col-5" scope="col">Producto</th>
                                <th class="col col-5" scope="col">Unidades</th>
                                <th class="col col-5" scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for p in pedidoInfo %}
								<tr>
								<th scope="row">{{ p.nombre }}</th>
								<td >{{ p.unidades }}</td>	
								<td >{{ p.precio }}</td>						
								</tr>
							{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cart -->
{% endblock %}